<!DOCTYPE html>
<html>
  <head>
    <title>Emotion Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Emotion Detection</h1>
      <p>Click the button below to start detecting emotions:</p>
      <button type="button" class="btn btn-primary" onclick="emotion_detection()">Start</button>
    </div>
    <script>
      function emotion_detection() {
        $.post('/emotion_detection', function(data) {
          console.log(data);
        });
      }
    </script>
  </body>
</html>
